<p id="notice"><%= notice %></p>

<p>
  <strong>Ends at:</strong>
  <%= @booking.ends_at %>
</p>

<p>
  <strong>Book:</strong>
  <%= @booking.book %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
