<p id="notice"><%= notice %></p>

<% cache(@library) do %>
  <p>
    <strong>Address:</strong>
    <%= @library.address %>
  </p>

  <p>
    <strong>Foundation year:</strong>
    <%= @library.foundation_year %>
  </p>

  <p>
    <strong>Employees</strong>
    <%= render @library.employees %>
  </p>

  <%= link_to 'Edit', edit_library_path(@library) %> |
  <%= link_to 'Back', libraries_path %>
<% end %>
