<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @library.address %>
</p>

<p>
  <strong>Foundation year:</strong>
  <%= @library.foundation_year %>
</p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
